<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>item details</title>
</head>
<body>
    <%- include("./partials/nav.ejs") %>

    <a href="/">go back home</a>

    <h2><%=works.title%></h2>
    <p><%=works.body%></p>
    <a id="delete" data-doc="<%=works._id%>">delete</a>


    <script>
        const delBtn = document.getElementById('delete')
        delBtn.addEventListener('click',(e)=>{
            const endpoint = `/blogs/${delBtn.dataset.doc}`;
            fetch(endpoint,{
                method:'DELETE'
            }).then((response)=>{
                response.json()
            }).then((data)=>window.location.href=data.redirect)
            .catch(err => console.log(err))
        })
    </script>
</body>
</html>