<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">go back home</a>
    <form action="/blogs" method="POST">
        <label for="title">Title</label><br>
        <input type="text" id="fname" name="title"><br>
        <label for="snippet">Snippet</label><br>
        <input type="text" id="lname" name="snippet"><br>
        <label for="body">Body</label><br>
        <textarea type="text" id="lname" name="body"></textarea><br><br>
        <input type="submit" value="Submit">
      </form> 
</body>
</html>