<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>johns website</title>
</head>
<body>
    <h1>john loves bananas</h1>
    <a href="/">go back home</a>
</body>
</html>